*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* inizio header */

header{
    height: 100px;
    background-color:white;
    border-bottom: 1px solid gray;
    /* position: fixed; */
    width:100%;
    
    
    
    
    


}
.google{
    height:70px;
    vertical-align: middle;
    margin:0;
}

.privacy{
    font-size: 12px;
    color:gray;
    vertical-align: middle;
}

.lista{
    display:flex;
}
.lista li{
    list-style: none;
    margin-left:40px;
   
}
.nav{
    color:gray;
}
.dom{
    color:rgb(10, 101, 238);
    border-bottom:3px solid rgb(10, 101, 238) ;
    padding-bottom:9px;
}

/* fine header */

/* inizio main */
main{
    
    margin-top:100px;
}
.main-content{
    width:70%;
    
    margin:auto;
}

/* fine main */




/* inizio footer */
footer{
    
    
}
.footer-list{
    display:flex;
    
    
}
.footer-list li{
    margin-left:80px;
    
    list-style: none;
    color:gray;
    font-size: 14px;
    margin-bottom: 30px;;
    
}
.choose{
    float:right;
   margin-top:-45px;
    
    margin-right: 400px;

}
#scelta{
    width:150px;
    margin-b
}


/* fine footer */